<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/style.css">
		<title>osu!wheresmyplaysgoing - What are the most popular beatmaps in the last 7 days?</title>
		<meta name="description" content="Check the most passed osu beatmaps in the last week. Lowkey I think this is pretty cool">
	</head>
	<body>
	<div class=titleism>Beatmaps with most passes in last 7 days osu</div>
	<div class=awesome_box>
		{% for map in maps %}
		<div class=map_contain>
			<div class=map_name><a href="https://osu.ppy.sh/beatmapsets/{{map[1]}}">{{ map[2] }}</a></div>
			<div class=map_plays>{{ map[0] }}</div><div class=passes> passes</div>
		</div>
		{% endfor %}
	</div>
	</body>
</html>